table{
    width: 150px;
    max-width: 100px;
    border: 3px solid black;
    width: 100px;
}
#same{
    text-align: right;
}
#headers{
     text-align: left;
}

thead{
    background-color: chocolate;
}
tbody{
    background-color: rgb(221, 157, 132);
}
/* Your CSS Code here. */